@CHARSET "ISO-8859-1";

img { border-style: none; }

.ui-layout-unit {
    	  border: none
}
.ui-panelgrid tr, .ui-panelgrid td {
   	border: none;
}

.ui-datatable-odd {
	background: none repeat scroll 0 0 #F2F5F9;
}

.ui-subtable-odd {
    background: none repeat scroll 0 0 #F2F5F9;
}

.mtrxtotColumn {
    background-color:Khaki;
    padding-top:25px;
    font-weight:bold;
    text-align:center;
    padding-bottom:25px;
    padding-right:50px;
    padding-left:50px;
   }

.mtrxRowHeader {
	width:200px!important;
    background-color:Lavender;
}
	
.mtrxColumn {
    text-align:center;
}

#div-body {
	width: 1025px;
   	vertical-align: top;
   	margin-left:0px;
   	margin-right:0px;
}
#page-div {
	width: 875px;
   	vertical-align: top;
   	margin-top:25px;
   	margin-left:25px;
}

#news-div {
	width: 725px;
   	vertical-align: top;
   	margin-top:25px;
   	margin-left:25px;
   	float:right;
}

.PageTitle
{
	margin-top: 7px;
	color: #880000;
	font: 14pt "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

.NewsTitle
{
	margin-top: 7px;
	color: #880000;
	font: 14pt "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
.NewsDate
{
	font-weight: normal;
	font-size: 8pt;
	color: #555555;
	font-family: "Trebuchet MS", Verdana;
}
.NewsText
{
	color: #000000;
	text-align: left;
	font: normal 10pt/18px "Trebuchet MS", Verdana;
	margin-top: 7px;
}
.NewsGap
{
	margin-top: 14px;
	border-top: 1px dashed #aaaaaa;
}

.GeneralGap
{
	margin-top: 5px;
	margin-bottom: 1px;
	border-top: 1px dashed #aaaaaa;
}

.list-no-border tr, .list-no-border td 
{
    vertical-align: center; 
	border-style:none;
	border-width:0px;
}

$( "#accordion" ).accordion({
            heightStyle: "content",
            autoHeight: false,
        clearStyle: true,   
        }